html,body{
	margin:0;
	padding:0;
}
#logo{
    position: relative;
    width: 100px;
    top: 30px;
    left: 30px;
}

nav{
    display: inline-block;
    position: absolute;
    right: 4%;
}
nav > a{
    color: blue;
    padding: 5px;
    text-decoration: none;
}

.navborder{
    border-right: solid 1px black;
}

nav > button{
    margin-left: 40px;
    margin-top: 30px;
    width: 120px;
    height: 40px;
    box-shadow: 4px 4px 4px black;
}

header{
    height: 700px;
    background: url("ressources/bg_image.png") no-repeat;
    background-size: 100% 100%;
}

#header{
    position: relative;
    top: 18%;
    text-align: center;
}
#header > h1{
    font-size: 100px;
}
#header > h2{
    font-size: 35px;
    width: 100%;
}

.presentation > h2{
    font-size: 45px;
    text-align: center;
    position: relative;
    width: 75%;
    left: calc(50% - 714px);    
}

.presentation > p{
    font-size: 20px;
    text-align: center;
    width: 37%;
    position: relative;
    left: calc(50% - 352px);
}



#laChose{
	text-align:center;
	background: url("laChose.jpg");
	height:400px;
}

#titre1{
	padding:70px 0 0;
}

#things{
	text-align:center;
}

.bloc{
	width:80%;
	margin:auto;
	display:flex;
	border-top:2px solid black;
	padding-top:30px;
}
.liste{
	width:40%;
	margin-left:30%;
}

